.main{
  margin-top: 50px;
}
*{
  background-color: rgb(39, 47, 53);
}
.quality_input{  
  border-top: none;
  border-right: none;
  border-left: none;
  width: 7%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: black; 
}